$black: #111;
$white: #238590;

$text-colour: $white;
$link-colour: #fff;

$break-small: 320px;
$break-large: 1200px;

body {
	font-family: "Helvetica Neue";
	color: $text-colour;
	background: $black;
	text-align: center;
}

.wrapper {
	width: 500px;
	margin: auto;
	margin-top: 3%;
	line-height: 0px;
}

.cell {
	width: 7px;
	height: 7px;

	margin: 1px;
	display: inline-block;

	-webkit-transition: all 0.3s ease-in-out;

	@media screen and (max-width: $break-small) {
		width: 5px;
		height: 5px;
	}

	@media screen and (min-width: $break-large) {
		width: 10px;
		height: 10px;
	}
}

.alive {
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

#palette {
	display: none;
}
