body {
  font-family: "Helvetica Neue";
  color: #238590;
  background: #111111;
  text-align: center; }

.wrapper {
  width: 500px;
  margin: auto;
  margin-top: 3%;
  line-height: 0px; }

.cell {
  width: 7px;
  height: 7px;
  margin: 1px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out; }
  @media screen and (max-width: 320px) {
    .cell {
      width: 5px;
      height: 5px; } }
  @media screen and (min-width: 1200px) {
    .cell {
      width: 10px;
      height: 10px; } }

.alive {
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }

#palette {
  display: none; }
